{% extends "base.html" %}
{% block context %}
<div class="container-scroller">

  <!-- partial:partials/_navbar.html -->
  {% include "navbar.html" %}
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    {% include "settings_panel.html" %}

    {% include "sidebar.html" %}

    <!-- partial -->
    <div class="main-panel">        
      <div class="content-wrapper">
        <div class="row">

          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">ユーザー情報</h4>
                <form name="kokyaku_insert_form" action="/user_insert" method="POST">

                  <p class="card-description">
                    基本情報
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">名前(性)</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="name_m" value="" required />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">名前(名)</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="name_s" value="" required />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">名前カナ(性)</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="name_mk" value="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">名前カナ(名)</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="name_sk" value="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">性別</label>
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                              男性
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                              女性
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">生年月日</label>
                        <div class="col-sm-9">
                          <input class="form-control" placeholder="dd/mm/yyyy" name="seinen_dt"  value=""/>
                        </div>
                        
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">固定電話</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="tel" value="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">携帯電話</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="tel_mob" value="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">メールアドレス</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="email" value="" />
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">携帯電話</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                    </div> -->
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">郵便番号</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="yubin" value="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">都道府県</label>
                        <div class="col-sm-9">
                          <select class="form-control">
                            <option></option>
                            <option>北海道</option>
                            <option>東京都</option>
                            <option>大阪府</option>
                            <option>愛知県</option>
                            <option>京都府</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>  

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">市区町村</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="jusho2" value="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">番地</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="jusho3" value="" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">部屋番号</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="jusho4" value="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">メモ</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="memo" value="" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="template-demo text-center">
                    <button type="button" class="btn btn-primary btn-md btn-fw">新規登録</button>
                  </div>
  
                </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      {% include "footer.html" %}
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{ url_for('static',filename='vendors/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendors/js/vendor.bundle.base.js') }}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{{ url_for('static',filename='vendors/typeahead.js/typeahead.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendors/select2/select2.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{ url_for('static',filename='js/off-canvas.js') }}"></script>
<script src="{{ url_for('static',filename='js/hoverable-collapse.js') }}"></script>
<script src="{{ url_for('static',filename='js/template.js') }}"></script>
<script src="{{ url_for('static',filename='js/settings.js') }}"></script>
<script src="{{ url_for('static',filename='js/todolist.js') }}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{{ url_for('static',filename='js/file-upload.js') }}"></script>
<script src="{{ url_for('static',filename='js/typeahead.js') }}"></script>
<script src="{{ url_for('static',filename='js/select2.js') }}"></script>
<script src="{{ url_for('static',filename='js/chart.js') }}"></script>
<!-- End custom js for this page-->
{% endblock %}
