{% extends "base.html" %}
{% block context %}
<div class="container-scroller">

  <!-- partial:partials/_navbar.html -->
  {% include "navbar.html" %}
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    {% include "settings_panel.html" %}

    {% include "sidebar.html" %}

    <!-- partial -->
    <div class="main-panel">        
      <div class="content-wrapper">
        <div class="row">

          <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">顧客情報</h4>
                <form name="kokyaku_update_form" action="/kokyaku_update" method="POST">

                  <input type="hidden" name="kokyaku_id" value="{{ kokyaku['kokyaku_id'] }}" required />

                  <p class="card-description">
                    基本情報
                  </p>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">名前(性)</label>
                        <input type="tel" class="form-control" placeholder="名前(性)" name="name_m" value="{{ kokyaku['name_m'] }}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">名前(名)</label>
                        <input type="tel" class="form-control" placeholder="名前(名)" name="name_s" value="{{ kokyaku['name_s'] }}">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">名前カナ(性)</label>
                        <input type="tel" class="form-control" placeholder="名前カナ(性)" name="name_mk" value="{{ kokyaku['name_sk'] }}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">名前カナ(名)</label>
                        <input type="tel" class="form-control" placeholder="名前カナ(名)" name="name_sk" value="{{ kokyaku['name_sk'] }}">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">性別</label>
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="gender" id="membershipRadios1" value="男" checked>
                              男性
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="gender" id="membershipRadios2" value="女">
                              女性
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">生年月日</label>
                        <input type="date" class="form-control" placeholder="yyyy/mm/dd" name="seinen_dt" value="{{ kokyaku['seinen_dt'] }}">
                      </div>
                    </div>
                    
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">固定電話</label>
                        <input type="tel" class="form-control" placeholder="固定電話" name="tel" value="{{ kokyaku['tel'] }}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">携帯電話</label>
                        <input type="tel" class="form-control" placeholder="携帯電話" name="tel_mob" value="{{ kokyaku['tel_mob'] }}">
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputUsername1">メールアドレス</label>
                        <input type="email" class="form-control" placeholder="メールアドレス" name="email" value="{{ kokyaku['email'] }}">
                      </div>
                    </div>
 
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">郵便番号</label>
                        <input type="text" class="form-control" placeholder="郵便番号" name="yubin" value="{{ kokyaku['yubin'] }}">
                      </div>
                    </div>
                    
                    
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="exampleInputUsername1">都道府県</label> 
                        <select class="form-control" name="menu_id">
                          <option value="0"></option>
                          <option value="1">北海道</option>
                          <option value="2">東京都</option>
                          <option value="3">大阪府</option>
                          <option value="4">愛知県</option>
                          <option value="5">京都府</option>
                        </select> 
                      </div>
                      
                    </div>
                  </div>  

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">市区町村</label>
                        <input type="text" class="form-control" placeholder="市区町村" name="jusho2" value="{{ kokyaku['jusho2'] }}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">番地</label>
                        <input type="text" class="form-control" placeholder="番地" name="jusho3" value="{{ kokyaku['jusho3'] }}">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">建物名・部屋番号</label>
                        <input type="text" class="form-control" placeholder="建物名・部屋番号" name="jusho4" value="{{ kokyaku['jusho4'] }}">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputUsername1">備考</label>
                        <input type="text" class="form-control" placeholder="備考" name="memo" value="{{ kokyaku['memo'] }}">
                      </div>
                    </div>
                  </div>

                  <p class="card-description">
                    SNS
                  </p>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">Instagram</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Instagram" aria-label="Instagram">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">Twitter</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Twitter" aria-label="Twitter">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">Facebook</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                          </div>
                          <input type="text" class="form-control" placeholder="Facebook" aria-label="Facebook">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputUsername1">LINE</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                          </div>
                          <input type="text" class="form-control" placeholder="LINE" aria-label="LINE">
                        </div>
                      </div>
                    </div>
                  </div>

 

                  <div class="template-demo text-center">
                    <button type="submit" class="btn btn-success btn-md btn-fw">更新</button>
                  </div>
  
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-4 d-flex align-items-stretch">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body cente">
                    <h4 class="card-title">顧客情報一覧 <label class="badge badge-danger">{{ sum_cnt }}</label></h4>
                    

                    <p class="card-description">
                      Add class <code>.table-hover</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>来店日</th>
                            <th>メニュー</th>
                            <th>金額</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if sum_cnt != 0  %}
                            {% for rireki in kokyakuRireki %}
                            <tr>
                              <td>{{ rireki['start_dt'] }}</td>
                              <td>{{ rireki['menu_nm'] }}</td>
                              <td>{{ rireki['menu_kg'] }}円</td>
                            </tr>
                            {% endfor %}
                          {% else %}
                            <tr>
                              <td>来店記録はありません。</td>
                              <td></td>
                              <td></td>
                            </tr>
                          {% endif %}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">顧客履歴登録</h4>
                    <p class="card-description">
                      基本情報
                    </p>
                    <form name="kokyaku_rireki_form" action="/kokyaku_rireki_insert" method="POST">

                      <input type="hidden" name="kokyaku_id" value="{{ kokyaku['kokyaku_id'] }}" required />

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="exampleInputUsername1">来店日</label>
                            <input type="date" class="form-control" placeholder="yyyy/mm/dd" name="start_dt"">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="exampleInputUsername1">終了日</label>
                            <input type="date" class="form-control" placeholder="yyyy/mm/dd" name="end_dt">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="exampleInputUsername1">メニュー</label> 
                            <select class="form-control" name="menu_id">
                              <option value="0"></option>
                              <option value="1">のんびりプラン</option>
                              <option value="2">わくわくプラン</option>
                              <option value="3">最強プラン</option>
                              <option value="4">ドキドキプラン</option>
                              <option value="5">ゴージャスプラン</option>
                            </select> 
                          </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="exampleInputUsername1">ご利用人数</label>
                            <input type="text" class="form-control" placeholder="ご利用人数" name="ninzu">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="exampleInputUsername1">部屋番号</label>
                            <input type="text" class="form-control" placeholder="部屋番号" name="">
                          </div>
                        </div>
                      </div>
                      
                      <div class="template-demo text-center">
                        <button type="submit" class="btn btn-primary btn-md btn-fw">新規登録</button>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">年別来店回数</h4>
                <canvas id="barChart"></canvas>
              </div>
            </div>
          </div>

          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">月別来店回数</h4>
                <canvas id="lineChart"></canvas>
              </div>
            </div>
          </div>
        </div>  
      
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      {% include "footer.html" %}
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{ url_for('static',filename='vendors/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendors/js/vendor.bundle.base.js') }}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{{ url_for('static',filename='vendors/typeahead.js/typeahead.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendors/select2/select2.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{ url_for('static',filename='js/off-canvas.js') }}"></script>
<script src="{{ url_for('static',filename='js/hoverable-collapse.js') }}"></script>
<script src="{{ url_for('static',filename='js/template.js') }}"></script>
<script src="{{ url_for('static',filename='js/settings.js') }}"></script>
<script src="{{ url_for('static',filename='js/todolist.js') }}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{{ url_for('static',filename='js/file-upload.js') }}"></script>
<script src="{{ url_for('static',filename='js/typeahead.js') }}"></script>
<script src="{{ url_for('static',filename='js/select2.js') }}"></script>
<script src="{{ url_for('static',filename='js/chart.js') }}"></script>
<!-- End custom js for this page-->
{% endblock %}

