{% extends "index_base.html" %}
{% block context %}
<div class="container-scroller">

  <!-- partial:partials/_navbar.html -->
  {% include "navbar.html" %}
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    {% include "settings_panel.html" %}

    {% include "sidebar.html" %}
    
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <!-- <h4 class="card-title">顧客情報一覧</h4> -->
                <div class="d-sm-flex justify-content-between align-items-start">
                  <div>
                    <h4 class="card-title card-title-dash">顧客情報一覧</h4>
                    <p class="card-subtitle card-subtitle-dash">You have 50+ new requests</p>
                  </div>
                  <div>
                    <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>新規登録</button>
                  </div>
                </div>
                
                <!-- <p class="card-description">
                  Add class <code>.table-hover</code>
                </p> -->

                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>顧客名</th>
                        <th>顧客名(カナ)</th>
                        <th>固定電話</th>
                        <th>携帯電話</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for kokyaku in kokyakuList %}
                      <tr>
                        <td><a href="/kokyaku/{{ kokyaku['kokyaku_id'] }}">{{ kokyaku['name_m'] }} {{ kokyaku['name_s'] }}</a></td>
                        <td>{{ kokyaku['name_mk'] }} {{ kokyaku['name_sk'] }}</td>
                        <td class="text-danger">{{ kokyaku['name_m'] }}<i class="ti-arrow-down"></i></td>
                        <td><label class="badge badge-danger">{{ kokyaku['tel_mob'] }}</label></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="template-demo text-center">
                    <a type="button" href="kokyaku_input" class="btn btn-warning btn-rounded btn-fw">新規登録</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      {% include "footer.html" %}
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{ url_for('static',filename='vendors/js/vendor.bundle.base.js') }}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{{ url_for('static',filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{ url_for('static',filename='js/off-canvas.js') }}"></script>
<script src="{{ url_for('static',filename='js/hoverable-collapse.js') }}"></script>
<script src="{{ url_for('static',filename='js/template.js') }}"></script>
<script src="{{ url_for('static',filename='js/settings.js') }}"></script>
<script src="{{ url_for('static',filename='js/todolist.js') }}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
{% endblock %}
