<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin2 </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='vendors/feather/feather.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='vendors/mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='vendors/typicons/typicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='vendors/simple-line-icons/css/simple-line-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{ url_for('static',filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='js/select.dataTables.min.css') }}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.png') }}" />
</head>
<body>
  {% block context %}
  {% endblock %}
</body>

</html>

