{% extends "menu.html" %}
{% block context %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">顧客一覧</h1>
</div>

<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <img class="me-3" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ac-illust.com%2Fmain%2Fsearch_result.php%3Fword%3D%25E3%2581%258A%25E5%25AE%25A2%25E3%2581%2595%25E3%2582%2593&psig=AOvVaw1KFBxAMKGhZcu0HdtPtykS&ust=1649525156934000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCKDf6Z7-hPcCFQAAAAAdAAAAABAQ" alt="" width="48" height="38" loading="lazy">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">Bootstrap</h1>
      <small>Since 2011</small>
    </div>
  </div>

  {% for kokyaku in kokyakuList %}
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#007bff" width="100%" height="100%" /><text fill="#007bff" dy=".3em" x="50%" y="50%">32x32</text></svg>
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">{{ kokyaku['name_m'] }} {{ kokyaku['name_s'] }}</strong>
          <a href="/kokyaku/{{ kokyaku['kokyaku_id'] }}">詳細</a>
        </div>
        <span class="d-block">電話番号：{{ kokyaku['tel'] }} / {{ kokyaku['tel_mob'] }}</span>
      </div>
    </div>
    {% endfor %}

    <small class="d-block text-end mt-3">
      <a href="#">すべてを表示</a>
    </small>
  </div>
</main>
    
{% endblock %}