<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ダッシュボード</title>
  <!-- commonのCSS読み込み -->
  <link href="{{ url_for('static',filename='common/css/dashboard.css') }}" rel="stylesheet" type="text/css">
  <!-- BootstrapのCSS読み込み -->
  <link href="{{ url_for('static',filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Chart.js読み込み -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  <!-- jQuery読み込み -->
  <script src="{{ url_for('static',filename='JQuery/jquery-3.3.1.min.js') }}"></script>
  <!-- BootstrapのJS読み込み -->
  <script src="{{ url_for('static',filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <!-- commonのJS読み込み -->
  <script src="{{ url_for('static',filename='common/js/dashboard.js') }}"></script>

</head>

<body>
  <!-- <header class="sticky-top navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <div class="container-fluid">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Q-System</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="検索" aria-label="検索">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="/logout">サインアウト</a>
        </div>
      </div>
    </div>
  </header> -->
  <header>
    <!-- <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          <li><a href="#contents1">コンテンツ1</a></li>
          <li><a href="#contents2">コンテンツ2</a></li>
          <li><a href="#contents3">コンテンツ3</a></li>
          <li><a href="#contents4">コンテンツ4</a></li>
          <li><a href="#contents5">コンテンツ5</a></li>
      </ul>
    </nav> -->

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow navbar-collapse bs-navbar-collapse ">
      <div class="container-fluid">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/dashboard">Q-System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-header">
          <ul class="navbar-nav d-sm-none d-mb-none d-lg-none mb-md-0 ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">ダッシュボード</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/kokyakuList">顧客管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/yoyaku">予約管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/uriage">売上管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userList">ユーザー管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">サインアウト</a>
            </li>
          </ul>
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="検索..." aria-label="検索...">
            <button class="btn btn-outline-success flex-shrink-0" type="submit">検索</button>
          </form> -->
        </div>
      </div>
    </nav>
    <script>
      $(document).ready(function () {
        $(".navbar-nav li a").click(function(event) {
          $(".navbar-collapse").collapse('hide');
        });
      });
    </script>
  </header>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">
                <span data-feather="home"></span>
                ダッシュボード
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/kokyakuList">
                <span data-feather="file"></span>
                顧客管理
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/yoyaku">
                <span data-feather="shopping-cart"></span>
                予約管理
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/uriage">
                <span data-feather="users"></span>
                売上管理
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userList">
                <span data-feather="layers"></span>
                ユーザー管理
              </a>
            </li>
          </ul>

          <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>保存されたレポート</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                今月
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
               前四半期
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                社会的関与
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                年末販売
              </a>
            </li>
          </ul> -->
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {% block context %}
        {% endblock %}
      </main>
    </div>
  </div>

  <script src="{{ url_for('static',filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- アイコン -->
  <script src="{{ url_for('static',filename='bootstrap/dist/feather.min.js') }}" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
  <!-- グラフ -->
  <script src="{{ url_for('static',filename='bootstrap/dist/Chart.min.js') }}" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
  <!-- commonのJS読み込み -->
  <script src="{{ url_for('static',filename='common/js/dashboard.js') }}"></script>
</body>

</html>