{% extends "menu.html" %}
{% block context %}
 <!-- 画面上部タイトル -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">ユーザー管理</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>
</div>

<!-- 中央ブロック -->
<div class="row g-5">
  <!-- 画面右 -->
  <div class="col-md-5 col-lg-4 order-md-last">
    <!-- <img class="rounded-circle mb-4" src="{{ url_for('static',filename='common/img/QSystem_logo.png') }}" width="150px" height ="150px" object-fit="contain" border="dashed 1px silver" > -->
    <img class="rounded-circle mb-4" src="https://pbs.twimg.com/profile_images/938385426414309377/MiVT6WG8_400x400.jpg" width="150" height ="150" object-fit="contain" border="dashed 1px silver" >
    
    <!-- カート -->
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-primary">来店記録</span>
      <span class="badge bg-primary rounded-pill">3</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">2022年1月3日</h6>
          <small class="text-muted">簡単な説明</small>
        </div>
        <span class="text-muted">￥12000</span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">2021年8月3日</h6>
          <small class="text-muted">簡単な説明</small>
        </div>
        <span class="text-muted">￥8000</span>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">2019年11月8日</h6>
          <small class="text-muted">簡単な説明</small>
        </div>
        <span class="text-muted">￥5000</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>合計 (円)</span>
        <strong>￥20000</strong>
      </li>
    </ul>

    <!-- 画面左 -->
    <!-- <form class="card p-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="プロモーションコード">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">適用</button>
        </div>
      </div>
    </form> -->
  </div>
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3"></h4>
    <form class="needs-validation" novalidate>
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="familyName" class="form-label">姓</label>
          <input type="text" class="form-control" id="familyName" placeholder="" value="" required>
          <div class="invalid-feedback">
            名字を入力してください
          </div>
        </div>
        <div class="col-sm-6">
          <label for="givenName" class="form-label">名</label>
          <input type="text" class="form-control" id="givenName" placeholder="" value="" required>
          <div class="invalid-feedback">
            名前を入力してください
          </div>
        </div>

        <div class="col-sm-6">
          <label for="familyName" class="form-label">姓(カナ)</label>
          <input type="text" class="form-control" id="familyNameKana" placeholder="" value="" required>
          <div class="invalid-feedback">
            名字(カナ)を入力してください
          </div>
        </div>
        <div class="col-sm-6">
          <label for="givenName" class="form-label">名(カナ)</label>
          <input type="text" class="form-control" id="givenNameKana" placeholder="" value="" required>
          <div class="invalid-feedback">
            名前(カナ)を入力してください
          </div>
        </div>

        <div class="col-3">
          <label for="text" class="form-label">固定電話番号 <span class="text-muted"></span></label>
          <input type="text" class="form-control" id="telNumber" placeholder="012-345-6789">
          <div class="invalid-feedback">
            固定電話番号を入力してください
          </div>
        </div>
        <div class="col-3">
          <label for="text" class="form-label">携帯電話番号 <span class="text-muted"></span></label>
          <input type="text" class="form-control" id="mobileNumber" placeholder="012-345-6789">
          <div class="invalid-feedback">
            携帯電話番号を入力してください
          </div>
        </div>
        <div class="col-6">
          <label for="email" class="form-label">Eメール <span class="text-muted">(任意)</span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            有効なメールアドレスを入力してください
          </div>
        </div>

        <div class="col-md-3">
          <label for="zip" class="form-label">郵便番号</label>
          <input type="text" class="form-control" id="zip" placeholder="000-1111" required>
          <div class="invalid-feedback">
            郵便番号を入力してください
          </div>
        </div>
        <div class="col-md-5">
          <label for="pref" class="form-label">都道府県</label>
          <select class="form-select d-block w-100" id="pref" required>
            <option>選択...</option>
            <option>北海道</option>
          </select>
          <div class="invalid-feedback">
            都道府県を選択してください
          </div>
        </div>
        <div class="col-md-4">
          <label for="city" class="form-label">市町村</label>
          <select class="form-select d-block w-100" id="city" required>
            <option>選択...</option>
            <option>札幌市</option>
          </select>
          <div class="invalid-feedback">
            市町村を選択してください
          </div>
        </div>

        <div class="col-12">
          <label for="address" class="form-label">住所</label>
          <input type="text" class="form-control" id="address" placeholder="地番" required>
          <div class="invalid-feedback">
            配送先住所を入力してください
          </div>
        </div>

        <div class="col-12">
          <label for="address2" class="form-label">住所 2 <span class="text-muted">(任意)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="アパート・マンション名">
        </div>

        <div class="col-md-12">
          <label for="zip" class="form-label">メモ</label>
          <textarea type="text" class="form-control" id="memo" placeholder="" rows="5">
          </textarea>
          <div class="invalid-feedback">
            
          </div>
        </div>

        <div class="col-12">
          <label for="username" class="form-label">Twitter</label>
          <div class="input-group has-validation">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" id="username" placeholder="ユーザーネーム" required>
          <div class="invalid-feedback">
              ユーザー名が必要です
            </div>
          </div>
        </div>

      </div>

      <hr class="my-4">

      <!-- カード情報 -->
      <!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="addressCheck">
        <label class="form-check-label" for="addressCheck">配送先住所は、請求先住所と同じです</label>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="keepCheck">
        <label class="form-check-label" for="keepCheck">次回のために、この情報を保存する</label>
      </div>

      <hr class="my-4">

      <h4 class="mb-3">お支払い方法</h4>

      <div class="my-3">
        <div class="form-check">
          <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
          <label class="form-check-label" for="credit">クレジットカード</label>
        </div>
        <div class="form-check">
          <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
          <label class="form-check-label" for="debit">デビットカード</label>
        </div>
        <div class="form-check">
          <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
          <label class="form-check-label" for="paypal">PayPal</label>
        </div>
      </div>
      <div class="row gy-3">
        <div class="col-md-6">
          <label for="cc-name" class="form-label">カードの名義</label>
          <input type="text" class="form-control" id="cc-name" placeholder="" required>
          <small class="text-muted">カード上に表示されているフルネーム</small>
          <div class="invalid-feedback">
            カードの名義を入力してください
          </div>
        </div>
        <div class="col-md-6">
          <label for="cc-number" class="form-label">クレジットカード番号</label>
          <input type="text" class="form-control" id="cc-number" placeholder="" required>
          <div class="invalid-feedback">
            クレジットカード番号を入力してください
          </div>
        </div>
        <div class="col-md-3">
          <label for="cc-expiration" class="form-label">有効期限</label>
          <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
          <div class="invalid-feedback">
            有効期限を入力してください
          </div>
        </div>
        <div class="col-md-3">
          <label for="cc-cvv" class="form-label">CVV</label>
          <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
          <div class="invalid-feedback">
            セキュリティコードを入力してください
          </div>
        </div>
      </div> -->

      <hr class="my-4">

      <button class="w-100 btn btn-primary btn-lg" type="submit">更新</button>
    </form>
  </div>
</div>
{% endblock %}