{% extends "menu.html" %}
{% block context %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">予約管理</h1>
  <h1 class="h2">予約管理</h1>
  <h1 class="h2">予約管理</h1>
</div>

<img class="mb-12" src="https://select-type.com/img/doc/res-fe-08.png">

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">宿泊中のお客様</h6>
  {% for kokyaku in kokyakuList %}
  <div class="d-flex text-muted pt-3">
    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#007bff" width="100%" height="100%" /><text fill="#007bff" dy=".3em" x="50%" y="50%">32x32</text></svg>
    <p class="pb-3 mb-0 small lh-sm border-bottom">
      <strong class="d-block text-gray-dark">{{ kokyaku['name_m'] }} {{ kokyaku['name_s'] }}</strong>
      {{ kokyaku['memo'] }}
    </p>
  </div>
  {% endfor %}
  <small class="d-block text-end mt-3">
    <a href="#">すべてを表示</a>
  </small>
</div>
    
{% endblock %}